<h3>Edit a bookmark</h3>

<form action="/bookmarks" method="post">
  <label for="bookmark_url" > Please enter a valid url </label>
    <input type="text" name="url">
  <label for="bookmark_name" > Please enter a valid name </label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>
