<p> Fill in form below to add new bookmark: </p>
<form action="/bookmarks" method="post">
    <input type="text" name="bookmark_url">
    <input type="submit" value="Submit">
</form>

<!-- Add code to access flash key here -->
<!--
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %> -->
